<div class='content-width'>
  <div class='user-hero'>
    <img class='avatar-medium' {{bind-attr src=profileImageUrl}} {{bind-attr alt=username}} />
    <h2 class='users-hero-username'>
      {{username}}
    </h2>
  </div>

  <div class='checklists-container'>
    {{#action-bar
      sortOptions=sortOptions
      sortValue=sort
      action='sortChange'
    }}
    <div class='right action-bar-text'>
      {{checklistsTotal}} Checklists
    </div>
    {{/action-bar}}
    {{outlet}}
  </div>
</div>

