<div class='content-width'>
  <div class='user-hero'>
    <img class='avatar-medium' {{bind-attr src=profileImageUrl}} {{bind-attr alt=username}} />
    <h2 class='users-hero-username'>
      {{username}}
    </h2>
  </div>

  <div class='checklists-list-container'>
    <div class='checklists-list-header'>
      <div class='checklists-list-header-text'>
        {{checklistsTitle}} ({{checklistsTotal}})
      </div>

      {{checklists-sort-controls
        sortValue=sort
        action='sortChange'
        class='right'
      }}
    </div>
    {{outlet}}
  </div>
</div>

