{{partial 'checklist_header'}}
{{partial 'checklist_description'}}

<div class='checklist-meta-info'>
  {{partial 'checklist_meta_info'}}
</div>

<div class='checklist-items-container content-width'>
  <ul class='js-checklist-items checklist-items'>
    {{each checklist.listItems itemViewClass="App.ChecklistItemView" itemController='checklistItem'}}
  </ul>
  {{#if view.isEditing}}

  <a {{action 'addItem'}} href='#' class='button'>
    &#10010; Add Item
  </a>
  {{/if}}
</div>

<div class='checklist-meta-info-footer'>
  {{partial 'checklist_meta_info'}}
</div>
