<div class='checklist-item-checkmark'>&#10004;</div>

<div class='checklist-item-title-row property-row'>
  {{#if view.isEditing}}
    {{view App.TextField valueBinding='title' classNames='list-item-title'}}
  {{else}}
    <h2 class='checklist-item-title'>
      {{title}}
    </h2>
  {{/if}}
</div>

<div class='checklist-item-description-row property-row'>
  {{#if view.isEditing}}
    {{view App.TextArea valueBinding='description' classNames='checklist-item-description'}}
  {{else}}
    {{#if description}}
    <p class='checklist-item-description'>
      {{description}}
    </p>
    {{/if}}
  {{/if}}
</div>

