{{partial 'checklist_header'}}
{{partial 'checklist_description'}}

<div class='checklist-meta-info'>
  {{partial 'checklist_meta_info'}}
</div>

{{render 'checklistListItems' }}

<div class='checklist-meta-info-footer'>
  {{partial 'checklist_meta_info'}}
</div>
