{{partial 'checklist_header'}}
{{partial 'checklist_description'}}

<div class='checklist-meta-info'>
  {{partial 'checklist_meta_info'}}
</div>

{{render 'checklistListItems' listItems}}

{{#if isEditing}}
  {{view App.ChecklistDeleteView}}
{{/if}}

<div class='checklist-meta-info-footer'>
  {{partial 'checklist_meta_info'}}
</div>
