<div {{bind-attr class=':checkbox isCompleted:is-checked'}} {{action 'toggleCompletion'}}>
  <div class='checkmark'>&#10004;</div>
</div>

<div class='list-item-title-row property-row'>
  {{#if view.isEditing}}
    {{view App.TextField valueBinding='title' classNames='list-item-title'}}
  {{else}}
    <h2 class='list-item-title'>
      {{title}}
    </h2>
  {{/if}}
</div>

<div class='list-item-description-row property-row'>
  {{#if view.isEditing}}
  {{view App.TextArea valueBinding='description' classNames='list-item-description'}}
  {{else}}
    {{#if description}}
    <p class='list-item-description'>
      {{description}}
    </p>
    {{/if}}
  {{/if}}
</div>

{{#if view.isEditing}}
  <a {{action 'delete' this}} class='delete-link' href='#'>Delete Item</a>
{{/if}}

<a {{action 'edit' target='view'}} class='edit-link' href='#'>&#9998;</a>
