{{#if showEditControls}}
<div class='edit-controls'>
    <a href='#' {{action 'editItem' target='view'}} class='button-bare edit-item'>
      Edit Item
    </a>
    <a href='#' {{action 'deleteItem' target='view'}} class='button-bare-danger delete-item'>
      Delete Item
    </a>
</div>
{{/if}}

<div class='checklist-list-item-description editable-body'>
  {{#if isEditingMd}}
    <div class='blanket'></div>
    {{view App.TextArea valueBinding='description'}}
  {{/if}}
  <div class='md'>
    {{markdown description}}
  </div>
</div>

{{#if showEditControls}}
  <a href='#' {{action move 'up'}} class='button-move move-up'>&#11014;</a>
  <a href='#' {{action move 'down'}} class='button-move move-down'>&#11015;</a>
{{/if}}
