<header class='header-bar'>
  <div class='content-width'>
    <div class='left header-logo'>
      <input type='checkbox' checked class='checkbox' value='' name='' />
    </div>

    <nav class='right'>
      {{#if currentUser}}
        <div class='account-menu-container right'>
          <a href='#' class='account-menu-toggle' {{action 'toggleMenu' target='view'}}>
            <img {{bind-attr src='currentUser.profileImageUrl'}} {{bind-attr alt='currentUser.username'}} />
          </a>
          {{#if view.showMenu}}
            <ul class='account-menu list-reset'>
              <li><a href='#' class='block'>Account</a></li>
              <li><a href='#' class='block' {{action 'signout'}}>Sign Out</a></li>
            </ul>
          {{/if}}
        </div>

      {{else}}
        <a class='button-text' href='/auth/github'>Login with GitHub</a>

      {{/if}}
    </nav>
  </div>
</header>
