<div class='content-width'>
  <div class='users-show-header'>
    {{#with user}}
      <img class='avatar-large' {{bind-attr src=profileImageUrl}} {{bind-attr alt=username}} />

      {{username}}
    {{/with}}
      {{checklists.length}} Checklists
  </div>
  <div class='checklists-container'>
    <ul class='checklists list-reset'>
      {{#each checklist in checklists}}
        <li>
          {{#link-to 'checklists.show' checklist class='checklist-item'}}
            <h2 class='checklist-item-title'>{{checklist.title}}</h2>
            <span class='checklist-item-list-count right'>{{checklist.listItems.length}}</span>
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
