<header class='checklist-header'>

  <h1 class='checklists-show-title editable-field' {{action 'edit' 'title' target=view}}>
    {{#if title}}
    {{title}}&nbsp;
    {{else}}
    <span class='add-description-prompt'>Add a Title...</span>
    {{/if}}

    {{#if isEditingTitle}}
    {{view 'text-field' valueBinding='title' placeholder='List title' property='title' focusOnInsert=true}}
    {{/if}}
  </h1>
  <span class='checklist-meta subtitle'>
    by
    {{#link-to 'user' user}}
    {{user.username}}
    {{/link-to}}
    {{#if countSummary}}
    &middot; {{countSummary}}
    {{/if}}
  </span>

  {{#if showDescription}}
    {{#view 'checklist/description'}}
      {{#if description}}
        {{autolink-text description target='_blank'}}&nbsp;
      {{else}}
        <span class='add-description-prompt'>Add a description...</span>
      {{/if}}

      {{#if isEditingDescription}}
        {{view 'textarea' valueBinding='description' property='description' focusOnInsert=true}}
      {{/if}}
    {{/view}}
  {{/if}}

</header>
