{{view App.ChecklistHeaderView}}

{{render 'checklistListItems' listItems}}

{{#if canEdit}}
<div class='content-width'>
  <a {{action 'addItem'}} href='#' class='checklist-add-item-row block'>
    <span class='checkbox-container'>&#10010;</span>
    Add Item...
  </a>

  <div class='checklist-controls'>
    <a {{action 'delete_'}} href='#' class='button right'>
      &times; Delete List
    </a>
  </div>
</div>
{{/if}}

<div class='checklist-status-bar'>
  <div class='content-width'>
    <span class='checklist-status-message'>{{statusMessage}}</span>
    <a href='#' class='button right' {{action 'clear'}}>clear</a>
  </div>
</div>
