{{view 'checklist/header'}}

<div class='checklist-controls-bar'>
  <div class='content-width'>
    <span class='checklist-status-message'>{{statusMessage}}</span>
    {{#if isInProgress}}
    &middot;
      <a href='#' {{action 'clear'}}>Clear</a>
    {{/if}}

    <div class='right'>
      <a href='#' {{action 'toggleEdit'}}>Edit</a>
    </div>
  </div>
</div>

<div class='content-width'>
  {{outlet}}

{{#if canEdit}}
<div>
  <a {{action 'addItem'}} href='#' class='checklist-add-item-row block action-dormant'>
    &#10010;
    Add Item...
  </a>

  <div class='checklist-footer'>
    <a {{action 'delete_'}} href='#' class='block right action-dormant-danger'>
      Delete List
    </a>
  </div>
</div>
{{/if}}

</div>

{{#if isEditing}}
<div class='checklist-body-edit-container'>
  {{textarea value=body}}
</div>
{{/if}}
