{{view 'checklist/header'}}

<div class='checklist-controls-bar'>
  <div class='content-width cf'>
    <div class='left'>
    <span class='checklist-status-message'>{{statusMessage}}</span>
    {{#if isClearable}}
    &middot;
      <a href='#' {{action 'clear'}}>Clear</a>
    {{/if}}
    </div>

    <div class='right'>
      {{#if canEdit}}
        <a href='#' {{action 'toggleEdit'}}>
          {{#if isEditing}}
            Done Editing
          {{else}}
            Edit Checklist
          {{/if}}
        </a>
      {{/if}}
    </div>
  </div>
</div>

<div class='content-width'>
  {{#if showListItems}}
    {{#each listItems itemController='list-items/item'}}
      {{view 'list-items/item'}}
    {{/each}}
  {{/if}}

  {{#if isEditing}}
    <div class='checklist-body-edit-container'>
      <div class='textarea-copy'>{{body}}&nbsp;</div>
      {{focusable-textarea
        value=body
        action='save'
        focusOnInsert=true}}
    </div>

    <div class='checklist-edit-info flush-padding'>
      Steps are formatted with <a target='_blank' href='http://daringfireball.net/projects/markdown/'>Markdown</a>
      and seperated by "[x]".
    </div>
  {{/if}}

</div>
