{{view 'checklist/header'}}

<div class='checklist-controls-bar'>
  <div class='content-width'>
    <span class='checklist-status-message'>{{statusMessage}}</span>
    {{#if isClearable}}
    &middot;
      <a href='#' {{action 'clear'}}>Clear</a>
    {{/if}}

    <div class='right'>
      {{#if canEdit}}
        {{#if isEditing}}
          Steps are seperated by '[x]' and formatted with Markdown
          &middot;
        {{/if}}
        <a href='#' {{action 'toggleEdit'}}>
          {{#if isEditing}}
            Done Editing
          {{else}}
            Edit Checklist
          {{/if}}
        </a>
      {{/if}}
    </div>
  </div>
</div>

<div class='content-width'>
  {{#if showListItems}}
  {{#each listItems itemController='list-items/item'}}
    {{view 'list-items/item'}}
  {{/each}}
  {{/if}}

  {{#if isEditing}}
  <div class='checklist-body-edit-container'>
    <div class='zebra-stripes'>
      {{#each zebraStripes}}
        <div class='zebra-stripe' {{bind-attr style=style}}></div>
      {{/each}}
    </div>
    <div class='textarea-copy'>{{body}}&nbsp;</div>
    {{focusable-textarea
      value=body
      action='bodyDidFocusOut'
      focusOnInsert=true}}
  </div>
  {{/if}}

</div>
