{{view 'checklist/header'}}

{{outlet}}

{{#if canEdit}}
<div class='content-width'>
  <a {{action 'addItem'}} href='#' class='checklist-list-item checklist-add-item-row block action-dormant'>
    <span class='checkbox-container'>&#10010;</span>
    Add Item...
  </a>

  <div class='checklist-footer'>
    <a {{action 'delete_'}} href='#' class='block right action-dormant-danger'>
      Delete List
    </a>
  </div>
</div>
{{/if}}

<div class='checklist-status-bar'>
  <div class='content-width'>
    <span class='checklist-status-message'>{{statusMessage}}</span>
    <a href='#' class='button right' {{action 'clear'}}>clear</a>
  </div>
</div>
