<div class='content-width'>
  <div class='user-hero'>
    <img class='avatar-large' {{bind-attr src=profileImageUrl}} {{bind-attr alt=username}} />
    <h2 class='user-hero-name'>
      {{name}}
    </h2>
    <div class='user-hero-username'>
      {{username}}
    </div>
  </div>

  {{outlet}}
</div>

