{{#with view.content}}
<a href='' class='sort-handle'>
  sort
</a>

{{#if isEditing}}
  <div {{action 'doneEditing'}} class='blanket'></div>
  <div class='checklist-list-item-editor'>
    <div class='textarea-container'>
      {{view App.TextArea valueBinding='description'}}
    </div>
    <div class='controls'>
      <a tabindex='1' class='button-danger left control-left' {{action 'delete' target='view'}}>Delete</a>
      <a tabindex='0' class='button right control-right' {{action 'doneEditing'}}>Done</a>
    </div>
  </div>
{{/if}}

<div class='md-container'>
  <label class='checkbox-container'>
    {{input type="checkbox" name="isCompleted" checked=isCompleted}}
  </label>

  <div class='md'>
    {{#if description}}
      {{markdown description}}
    {{else}}
      &nbsp;
    {{/if}}
  </div>
  {{#if showEditIcon}}
    <a href='#' {{action 'edit'}} class='button-edit'>&#9998;</a>
  {{/if}}
</div>

{{/with}}
