<ul class='checklists-list list-reset'>
  {{#each}}
    {{partial 'checklists/list-item'}}
  {{else}}
    {{#if isCurrentUserProfile}}
      No lists yet.
      {{#link-to 'checklist.new' class='button'}}
        Create one
      {{/link-to}}
    {{else}}
      Nothing here yet.
    {{/if}}
  {{/each}}
</ul>

{{#if showLoadMore}}

<div class='checklists-footer'>
  <a href='#' class='button-text' {{action 'loadMore'}}>
    {{#if isLoadingMore}}
      Loading...
    {{else}}
      Load more
    {{/if}}
  </a>
</div>

{{/if}}

