<ul class='checklists-list'>
  {{#each}}
    {{partial 'checklists/list-item'}}
  {{else}}
    {{#if isCurrentUserProfile}}
      No lists yet.
      {{#link-to 'checklists.new' class='button'}}
        Create one
      {{/link-to}}
    {{else}}
      Nothing here yet.
    {{/if}}
  {{/each}}
</ul>

{{#if showLoadMore}}
  <div class='checklists-list-footer'>
    <a href='#' class='button' {{action 'loadMore'}}>
      {{#if isLoadingMore}}
        Loading...
      {{else}}
        Load more
      {{/if}}
    </a>
  </div>
{{/if}}

